<%- include("header")-%>

<h2>This is the about page</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores earum officia deserunt quam? In unde alias aperiam
    ipsam! Modi sed adipisci officiis debitis. Atque suscipit, quo aliquid pariatur inventore culpa.</p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque asperiores illo, nesciunt consequuntur magni fuga
    pariatur quas temporibus, sint mollitia neque. Reprehenderit labore odio veniam officia natus quidem consequuntur
    doloremque!
</p>

<%- include("footer") -%>