<!DOCTYPE html>
<html lang="en">

<head>
  <title>To Do List</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="css/styles.css" rel="stylesheet" />
</head>

<body>
  <div class="box" id="heading">
    <h1><%= kindOfDay %></h1>
  </div>

  <div class="box">
    <% works.forEach(function(item){ %>
    <div class="item">
      <input type="checkbox">
      <p><%= item %></p>
    </div>
    <% }) %>

    <form class="item" action="/" method="POST">
      <input type="text" name="work" placeholder="New Item" autocomplete="off" />
      <button>+</button>
    </form>
  </div>


</body>

</html>